name: Deploy to Deno Deploy

on:
  push:
    branches: [main]
    paths:
      - 'frontend/**'
      - 'deno.jsonc'
      - '.github/workflows/deploy-deno.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Build project
        working-directory: ./frontend
        run: deno task build

      - name: Deploy to Deno Deploy
        run: |
          cd frontend
          deno run --allow-all --unstable https://deno.land/x/deploy@1.6.3/deployctl.ts deploy --project=khodroban --entrypoint=index.html --include=build --token=${{ secrets.DENO_DEPLOY_TOKEN }}
